<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitness Logger</title>

    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar--menu">
        <div class="sidebar--menu--text">Fitness Logger</div>
        <img src="/x.svg" id="collapseButton" alt="Collapse Button" />
        <img src="/list.svg" id="extendButton" alt="Show Button" />
      </div>

      <button class="sidebar--button" id="workoutButton">
        <div class="buttonText">Workout</div>
        <img src="/workout.svg" alt="workout" />
      </button>

      <button class="sidebar--button" id="mealButton">
        <div class="buttonText">Meal Plan</div>
        <img src="/meal.svg" alt="mealplan" />
      </button>

      <button class="sidebar--button" id="waterButton">
        <div class="buttonText">Water Intake</div>
        <img src="/water-glass.svg" alt="water" />
      </button>

      <button class="sidebar--button" id="leaderboardButton">
        <div class="buttonText">Leaderboard</div>
        <img src="/leaderboard.png" alt="leaderboard" />
      </button>

      <button class="sidebar--button" id="profileButton">
        <div class="sidebar--profileText buttonText">My Profile</div>
        <img src="/user-circle.svg" alt="workout" />
      </button>
    </div>

    <div class="panel" id="workout">
      <div class="panel-Heading">Workout</div>
      <div class="panel-Content"></div>
    </div>

    <div class="panel" id="meal">
      <div class="panel-Heading">Mealplans</div>
      <div class="panel-Content"></div>
    </div>

    <div class="panel" id="water">
      <div class="panel-Heading">Water Intake</div>
      <div class="panel-Content"></div>
    </div>

    <div class="panel" id="leaderboard">
      <div class="panel-Heading">Leaderboard</div>
      <div class="panel-Content"></div>
    </div>

    <div class="panel" id="profile">
      <div class="panel-Heading">My Profile</div>
      <div class="panel-Content"></div>
    </div>

    <script src="/index.js"></script>
  </body>
</html>
