<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/navigate-circle-outline.svg" type="image/x-icon" />
    <title>Fitness Logger</title>

    <link rel="stylesheet" href="/index.css" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      defer
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>

    <script defer src="/map.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar--menu">
        <div class="sidebar--menu--text">Fitness Logger</div>
        <img src="/x.svg" id="collapseButton" alt="Collapse Button" />
        <img src="/list.svg" id="extendButton" alt="Show Button" />
      </div>

      <button class="sidebar--button" id="workoutButton">
        <div class="buttonText">Workout</div>
        <img class="buttonImages" src="/workout.svg" alt="workout" />
      </button>

      <button class="sidebar--button" id="workoutHistoryButton">
        <div class="buttonText">Workout History</div>
        <img class="buttonImages" src="/calendar-outline.svg" alt="water" />
      </button>

      <button class="sidebar--button" id="mealButton">
        <div class="buttonText">Meal Plan</div>
        <img class="buttonImages" src="/meal.svg" alt="mealplan" />
      </button>

      <button class="sidebar--button" id="socialButton">
        <div class="buttonText">Social</div>
        <img class="buttonImages" src="/social.svg" alt="social" />
      </button>

      <button class="sidebar--button">
        <div class="sidebar--profileText buttonText" id="profileButton">
          My Profile
        </div>
        <img
          class="buttonImages"
          id="signOutButton"
          src="/sign-out.svg"
          alt="workout"
        />
      </button>
    </div>

    <div class="panel" id="workout">
      <!-- <div class="panel-Heading">Workout</div> -->
      <!-- <div class="panel-content"> -->
      <form class="form hidden">
        <div class="form__row">
          <label class="form__label">Type</label>
          <select class="form__input form__input--type">
            <option value="running">Running</option>
            <option value="cycling">Cycling</option>
          </select>
        </div>
        <div class="form__row">
          <label class="form__label">Distance</label>
          <input class="form__input form__input--distance" placeholder="km" />
        </div>
        <div class="form__row">
          <label class="form__label">Duration</label>
          <input class="form__input form__input--duration" placeholder="min" />
        </div>
        <div class="form__row">
          <label class="form__label">Cadence</label>
          <input
            class="form__input form__input--cadence"
            placeholder="step/min"
          />
        </div>
        <div class="form__row form__row--hidden">
          <label class="form__label">Elev Gain</label>
          <input
            class="form__input form__input--elevation"
            placeholder="meters"
          />
        </div>
        <button class="form__btn">OK</button>
      </form>
      <div class="workout-form-container">
        <div id="workoutForm">
          <img id="closeFormButton" src="/x.svg" alt="close" />

          <div class="workout-form-row-header">Workout Type</div>
          <div class="workout-form-row">
            <div class="workout-type-option">
              <img src="/person-simple-walk.svg" alt="Walking" />
              Walking
            </div>
            <div class="workout-type-option">
              <img src="/person-simple-run.svg" alt="Running" />
              Running
            </div>
            <div class="workout-type-option">
              <img src="/person-simple-bike.svg" alt="Cycling" />
              Cycling
            </div>
          </div>

          <div class="workout-form-row-header">Workout Intensity</div>
          <div class="workout-form-row" id="intensity">
            <img
              id="intensityInputDecrease"
              src="/remove-outline.svg"
              alt="Decrease Intensity"
            />
            <div id="intensityLabel">Medium</div>
            <img
              id="intensityInputIncrease"
              src="/add-outline.svg"
              alt="Increase Intensity"
            />
          </div>

          <div class="workout-form-row-header">Workout Duration</div>
          <div class="workout-form-row">
            <input type="time" name="Time" id="" />
          </div>
        </div>
      </div>
      <div id="map"></div>
      <div class="popup show-popup" id="popup">
        Click on the map to add a waypoint
      </div>
      <!-- </div> -->
    </div>

    <div class="panel" id="workoutHistory">
      <div class="panel-Heading">Workout History</div>
      <div class="panel-content"></div>
    </div>

    <div class="panel" id="meal">
      <div class="panel-Heading">My Meal-Plan</div>
      <div class="panel-content" id="userMealPlanData"></div>

      <div class="panel-Heading">Available Meal-Plans</div>
      <div class="panel-Description">
        Select from these meal-plans as per your goals and calorie requirements
      </div>
      <div class="panel-content" id="mealPlanData"></div>
    </div>

    <div class="panel" id="social">
      <div class="panel-Heading">Social</div>
      <div class="panel-content"></div>
    </div>

    <div class="panel" id="profile">
      <!-- <div class="panel-Heading">My Profile</div> -->
      <div class="panel-content" id="profileContent">
        <div
          class="panel-row panel-row-auto-height panel-row-top-border-radius"
        >
          <div
            class="panel-column-title panel-row-top-border-radius"
            id="profileNameLabel"
          ></div>
        </div>

        <div class="panel-row panel-row-auto-height">
          <div class="panel-column-title">
            <img src="/mail-outline.svg" alt="Details" />
          </div>
          <div class="panel-column-description">
            <div class="panel-column-description-container">
              <div class="panel-column-description-label">Email :</div>
              <div class="panel-column-description-data" id="userProfileEmail">
                abd@example.com
              </div>
            </div>
          </div>
        </div>

        <div class="panel-row panel-row-auto-height">
          <div class="panel-column-title">
            <img src="/identification-card.svg" alt="Details" />
          </div>
          <div class="panel-column-description">
            <div class="panel-column-description-container">
              <div class="panel-column-description-label">First Name :</div>
              <div
                class="panel-column-description-data"
                id="userProfileFirstName"
              ></div>
            </div>
            <div class="panel-column-description-container">
              <div class="panel-column-description-label">Middle Name :</div>
              <div
                class="panel-column-description-data"
                id="userProfileMiddleName"
              ></div>
            </div>
            <div class="panel-column-description-container">
              <div class="panel-column-description-label">Last Name :</div>
              <div
                class="panel-column-description-data"
                id="userProfileLastName"
              ></div>
            </div>
          </div>
        </div>

        <!-- <div class="panel-row panel-row-auto-height">
          <div class="panel-column-title">
            <img src="/key.svg" alt="Details" />
          </div>
          <div class="panel-column-description">
            <div class="panel-column-description-container">
              <div class="panel-column-description-label">Password</div>
            </div>
          </div>
        </div> -->

        <div class="panel-row panel-row-auto-height">
          <div class="panel-column-title">
            <img src="/calendar-outline.svg" alt="Details" />
          </div>
          <div class="panel-column-description">
            <div class="panel-column-description-container">
              <div class="panel-column-description-label">Date of birth :</div>
              <div
                class="panel-column-description-data"
                id="userProfileDOB"
              ></div>
            </div>
          </div>
        </div>

        <div class="panel-row panel-row-auto-height">
          <div class="panel-column-title">
            <img src="/ruler.svg" alt="Details" />
          </div>
          <div class="panel-column-description">
            <div class="panel-column-description-container">
              <div class="panel-column-description-label">Height :</div>
              <div
                class="panel-column-description-data"
                id="userProfileHeight"
              ></div>
            </div>
          </div>
        </div>

        <div
          class="panel-row panel-row-auto-height panel-row-bottom-border-radius"
        >
          <div class="panel-column-title panel-row-bottom-left-border-radius">
            <img src="/scale-outline.svg" alt="Details" />
          </div>
          <div class="panel-column-description">
            <div class="panel-column-description-container">
              <div class="panel-column-description-label">Weight :</div>
              <div
                class="panel-column-description-data"
                id="userProfileWeight"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/index.js"></script>
  </body>
</html>
