<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="icon" href="/user.svg" type="image/x-icon" />

    <link rel="stylesheet" href="signIn.css" />
  </head>
  <body>
    <div class="container">
      <div class="sign-in-selector">
        <button id="signInButtonSelector">Sign In</button>
        <button id="signUpButtonSelector">Sign Up</button>
      </div>

      <form class="form" id="signInForm">
        <input
          id="signInEmailInput"
          class="hover-animation"
          type="text"
          placeholder="Email"
        />
        <div class="password-field hover-animation">
          <input
            id="signInPasswordInput"
            type="password"
            placeholder="Password"
          />
          <img
            id="signInPasswordReveal"
            src="/eye-outline.svg"
            alt="Show Password"
          />
        </div>

        <div id="signInPasswordErrorPrompt">
          Incorrect Password/Email provided
        </div>

        <button type="submit" id="signInButton" class="hover-animation">
          Log In
        </button>
        Or
        <button class="google-button hover-animation">
          <img src="/logo-google.svg" alt="Google Logo" />
          Continue with google
        </button>
      </form>

      <form class="form" id="signUpForm">
        <input
          id="signUpEmailInput"
          class="hover-animation"
          type="text"
          placeholder="Email"
        />

        <input
          id="signUpFirstNameInput"
          class="hover-animation"
          type="text"
          placeholder="First Name"
        />

        <input
          id="signUpLastNameInput"
          class="hover-animation"
          type="text"
          placeholder="Last Name"
        />

        <div class="password-field hover-animation">
          <input
            id="signUpPasswordInput"
            type="password"
            placeholder="Password"
          />
          <img
            id="signUpPasswordReveal"
            src="/eye-outline.svg"
            alt="Show Password"
          />
        </div>

        <div class="password-field hover-animation">
          <input
            id="signUpConfirmPasswordInput"
            type="password"
            placeholder="Confirm Password"
          />
          <img
            id="signUpConfirmPasswordReveal"
            src="/eye-outline.svg"
            alt="Show Password"
          />
        </div>

        <button type="submit" id="signUpButton" class="hover-animation">
          Sign Up
        </button>
        Or
        <button class="google-button hover-animation">
          <img src="/logo-google.svg" alt="Google Logo" />
          Continue with google
        </button>
      </form>
    </div>

    <script src="/signIn.js"></script>
  </body>
</html>
