<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="icon" href="/user.svg" type="image/x-icon" />

    <link rel="stylesheet" href="signIn.css" />
  </head>
  <body>
    <div class="container">
      <div class="sign-in-selector">
        <button id="signInButtonSelector">Sign In</button>
        <button id="signUpButtonSelector">Sign Up</button>
      </div>

      <form class="form" id="signInForm">
        <input
          id="signInEmailInput"
          class="hover-animation"
          type="text"
          placeholder="Email"
        />
        <div class="password-field hover-animation">
          <input
            id="signInPasswordInput"
            type="password"
            placeholder="Password"
          />
          <img
            id="signInPasswordReveal"
            src="/eye-outline.svg"
            alt="Show Password"
          />
        </div>

        <div id="signInPasswordErrorPrompt">
          Incorrect Password/Email provided
        </div>

        <button type="submit" id="signInButton" class="hover-animation">
          Log In
        </button>
        Or
        <button class="google-button hover-animation">
          <img src="/logo-google.svg" alt="Google Logo" />
          Continue with google
        </button>
      </form>

      <form class="form" id="signUpForm">
        <input
          id="signUpEmailInput"
          class="hover-animation"
          type="text"
          placeholder="Email"
        />

        <input
          id="signUpFirstNameInput"
          class="hover-animation"
          type="text"
          placeholder="First Name"
        />

        <input
          id="signUpLastNameInput"
          class="hover-animation"
          type="text"
          placeholder="Last Name"
        />

        <div class="password-field hover-animation">
          <input
            id="signUpPasswordInput"
            type="password"
            placeholder="Password"
          />
          <img
            id="signUpPasswordReveal"
            src="/eye-outline.svg"
            alt="Show Password"
          />
        </div>

        <div class="password-field hover-animation">
          <input
            id="signUpConfirmPasswordInput"
            type="password"
            placeholder="Confirm Password"
          />
          <img
            id="signUpConfirmPasswordReveal"
            src="/eye-outline.svg"
            alt="Show Password"
          />
        </div>

        <button type="submit" id="signUpButton" class="hover-animation">
          Sign Up
        </button>
        Or
        <button class="google-button hover-animation">
          <img src="/logo-google.svg" alt="Google Logo" />
          Continue with google
        </button>
      </form>
    </div>

    <div class="registration-details">
      <div class="registration-details-container">
        <div class="step" id="step1">
          <div class="step-content">
            <h2>You're one step closer to your goals!</h2>
            <br />
            <h4>Let's finish setting up your profile</h4>
          </div>
          <div class="step-next-previous-options">
            <img
              class="left-arrow"
              id="previousStepButton1"
              src="/arrow-left.svg"
              alt="Previous Step"
            />
            <img
              class="right-arrow"
              id="nextStepButton1"
              src="/arrow-right.svg"
              alt="Next Step"
            />
          </div>
        </div>

        <div class="step" id="step2">
          <h2>Please select your gender</h2>
          <div class="step-content">
            <div class="step-content-img">
              <img src="/man-outline.svg" alt="Weight Scale" />
              Male
            </div>
            <div class="step-content-img">
              <img src="/woman-outline.svg" alt="Weight Scale" />
              Female
            </div>
          </div>
          <div class="step-next-previous-options">
            <img
              class="left-arrow"
              id="previousStepButton2"
              src="/arrow-left.svg"
              alt="Previous Step"
            />
            <img
              class="right-arrow"
              id="nextStepButton2"
              src="/arrow-right.svg"
              alt="Next Step"
            />
          </div>
        </div>

        <div class="step" id="step3">
          <h2>Enter your date of birth</h2>
          <div class="step-content">
            <div class="calender-container">
              <img src="/calendar-outline.svg" alt="Calendar" />
              <input
                type="date"
                name="Date Of Birth"
                id="dobInput"
                min="1960-01-01"
              />
            </div>
          </div>
          <div class="step-next-previous-options">
            <img
              class="left-arrow"
              id="previousStepButton3"
              src="/arrow-left.svg"
              alt="Previous Step"
            />
            <img
              class="right-arrow"
              id="nextStepButton3"
              src="/arrow-right.svg"
              alt="Next Step"
            />
          </div>
        </div>

        <div class="step" id="step4">
          <div class="step-content">
            <h2>Please enter your weight</h2>
            <div class="step-content-img">
              <img src="/scale-outline.svg" alt="Weight Scale" />
              <div id="weightDisplay">65 kg</div>
            </div>
            <input
              type="range"
              class="weight-input"
              name="Weight"
              id="weightInput"
              min="40"
              max="150"
              value="65"
            />
          </div>
          <div class="step-next-previous-options">
            <img
              class="left-arrow"
              id="previousStepButton4"
              src="/arrow-left.svg"
              alt="Previous Step"
            />
            <img
              class="right-arrow"
              id="nextStepButton4"
              src="/arrow-right.svg"
              alt="Next Step"
            />
          </div>
        </div>

        <div class="step" id="step5">
          <h2>Enter your height</h2>
          <div class="step-content">
            <div class="ruler-container">
              <img src="/ruler.svg" alt="" />
              <div id="heightDisplay">150 cm</div>
            </div>
            <div class="ruler-input-container">
              <input
                type="range"
                class="height-input"
                name="Height"
                id="heightInput"
                value="150"
                min="120"
                max="220"
              />
              <div class="ruler-input-container-unit-selector">
                <div id="unitSelectorInches" class="unit-selector">Inches</div>
                &nbsp / &nbsp
                <div id="unitSelectorCm" class="unit-selector">Cm</div>
              </div>
            </div>
          </div>
          <div class="step-next-previous-options">
            <img
              class="left-arrow"
              id="previousStepButton5"
              src="/arrow-left.svg"
              alt="Previous Step"
            />
            <img
              class="right-arrow"
              id="nextStepButton5"
              src="/arrow-right.svg"
              alt="Next Step"
            />
          </div>
        </div>

        <div class="step" id="step6">
          <div class="step-content">
            <h2>Congratulations</h2>
            <br />
            <h4>Your profile is all set up!</h4>
            <div id="finishSignUpButton">Lets go!</div>
          </div>
        </div>
      </div>
    </div>

    <script src="/signIn.js"></script>
  </body>
</html>
