@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

:root {
  --sidebar: #2f3336;
  --sidebarHover: #3a3f43;
  --sidebarText: white;
  /* --panel: #3a3f43; */
  /* --panel: #cccccc; */

  /* --panel: #fbfef9; */
  /* --panel: #33a1fd; */
  --panel: #9399a3;
  --panelText: black;
}

body {
  color: white;
  background-color: red;
}

.sidebar {
  background-color: var(--sidebar);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 15rem;
}

.sidebarExpanded {
  animation: sidebarExpandAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarExpandAnimation {
  0% {
    left: -10rem;
  }
  100% {
    left: 0;
  }
}

.sidebarCollapsed {
  animation: sidebarCollapseAnimation 0.55s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarCollapseAnimation {
  0% {
    left: 0;
  }
  100% {
    left: -10rem;
  }
}

.sidebarTitleCollapsed {
  animation: sidebarTitleCollapseAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarTitleCollapseAnimation {
  0% {
    width: 100%;
    font-size: 1.3rem;
  }
  100% {
    width: 93%;
    font-size: 1rem;
  }
}

.sidebarTitleExtended {
  animation: sidebarTitleExtendAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarTitleExtendAnimation {
  0% {
    width: 93%;
    font-size: 1rem;
  }
  100% {
    width: 100%;
    font-size: 1.3rem;
  }
}

.sidebar--menu {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  height: 2rem;
}

.sidebar--menu--text {
  font-weight: 800;
  height: 2rem;
  width: 80%;
  text-align: center;
  overflow: hidden;
}

.sidebar--menu img {
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar--button {
  color: var(--sidebarText);
  background-color: transparent;
  border-radius: 10px;
  width: 93%;
  height: 3rem;
  align-items: center;
  display: flex;
  cursor: pointer;
  border: none;
  margin: 0.3rem auto;

  padding: 0 0.5rem;
}

.sidebar--button img {
  height: 2rem;
  width: 2rem;
  margin: 0 auto;
}

.sidebar--button .buttonText {
  width: 80%;
  height: 2rem;
  font-weight: 500;
  line-height: 2rem;
  overflow: hidden;
}

.sidebar--button:last-of-type {
  margin-top: auto;
  margin-bottom: -0.3rem;
}

.sidebar--profileText {
  font-weight: 200;
  width: 80%;
  text-align: center;
}

.sidebar--button--hover {
  border-radius: 10px;
  /* border: 1rem transparent !important; */
  /* margin: 1rem; */
  /* height: 3rem; */
}

.sidebar--menu img:hover,
.sidebar--button--hover:hover {
  animation: sidebarButtonHoverAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarButtonHoverAnimation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--sidebarHover);
  }
}

.panel {
  position: fixed;
  background-color: var(--panel);
  color: var(--panelText);
  width: calc(100% - 15rem);
  height: 100%;
  left: 15rem;
  padding: 1rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.panel-Heading {
  width: 100%;
  text-align: center;
}

.panelExpanded {
  animation: panelExpandAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes panelExpandAnimation {
  0% {
    left: 4rem;
    width: calc(100% - 4rem);
  }
  100% {
    left: 15rem;
    width: calc(100% - 15rem);
  }
}

.panelCollapsed {
  animation: panelCollapseAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes panelCollapseAnimation {
  0% {
    left: 15rem;
    width: calc(100% - 15rem);
  }
  100% {
    left: 4rem;
    width: calc(100% - 4rem);
  }
}

.tempDisplays {
  height: 1rem;
  font-size: 1rem;
  width: 20rem;
  margin-bottom: 1rem;
}
