@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
}

:root {
  --sidebar: #2f3336;
  --sidebarHover: #3a3f43;
  --sidebarText: white;
  --panel: #41474b;
  /* --panel: #cccccc; */

  /* --panel: #fbfef9; */
  /* --panel: #33a1fd; */

  /* --panel: #9399a3; */
  /* --panel: #d5d6d7; */
  --sidebarDark: #232628;
  --panelText: white;
}

body {
  color: white;
  /* background-color: white; */
  background-color: var(--panel);
  width: 100%;
}

.sidebar {
  background-color: var(--sidebar);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.8rem;
  width: 15rem;
}

.sidebarExpanded {
  animation: sidebarExpandAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarExpandAnimation {
  0% {
    left: -10rem;
  }
  100% {
    left: 0;
  }
}

.sidebarCollapsed {
  animation: sidebarCollapseAnimation 0.55s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarCollapseAnimation {
  0% {
    left: 0;
  }
  100% {
    left: -10rem;
  }
}

.sidebarTitleCollapsed {
  animation: sidebarTitleCollapseAnimation 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarTitleCollapseAnimation {
  0% {
    width: 100%;
    font-size: 1.3rem;
  }
  100% {
    width: 93%;
    font-size: 1rem;
  }
}

.sidebarTitleExtended {
  animation: sidebarTitleExtendAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarTitleExtendAnimation {
  0% {
    width: 93%;
    font-size: 1rem;
  }
  100% {
    width: 100%;
    font-size: 1.3rem;
  }
}

.sidebar--menu {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  height: 2rem;
}

.sidebar--menu--text {
  font-weight: 800;
  height: 2rem;
  width: 80%;
  text-align: center;
  overflow: hidden;
}

.sidebar--menu img {
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar--button {
  color: var(--sidebarText);
  background-color: transparent;
  border-radius: 10px;
  width: 93%;
  height: 3rem;
  align-items: center;
  display: flex;
  cursor: pointer;
  border: none;
  margin: 0.3rem auto;

  padding: 0 0.5rem;
}

.sidebar--button img {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.45rem;
  margin: 0 auto;
  margin-left: 0.6rem;
  border-radius: 10px;
}

.sidebar--button .buttonText {
  width: 80%;
  height: 2rem;
  font-weight: 500;
  line-height: 2rem;
  overflow: hidden;
}

.sidebar--button:last-of-type {
  margin-top: auto;
  margin-bottom: -0.3rem;
}

.sidebar--menu img:hover,
.sidebar--button--hover:hover {
  animation: sidebarButtonHoverAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarButtonHoverAnimation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--sidebarHover);
  }
}

.panel {
  position: absolute;
  background-color: var(--panel);
  color: var(--panelText);
  width: calc(100% - 15rem);
  /* height: 100%; */
  left: 15rem;
}

.panel-Heading {
  /* width: 100%; */
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.panel-Description {
  margin-top: -0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}

.panelExpandedAnimation {
  animation: panelExpandAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.panelCollapsed {
  left: 4rem;
  width: calc(100% - 4rem);
}

.panelExpanded {
  left: 15rem;
  width: calc(100% - 15rem);
}

@keyframes panelExpandAnimation {
  0% {
    left: 4rem;
    width: calc(100% - 4rem);
  }
  100% {
    left: 15rem;
    width: calc(100% - 15rem);
  }
}

.panelCollapsedAnimation {
  animation: panelCollapseAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes panelCollapseAnimation {
  0% {
    left: 15rem;
    width: calc(100% - 15rem);
  }
  100% {
    left: 4rem;
    width: calc(100% - 4rem);
  }
}

#map {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.form {
  display: none;
}

.popup {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 3rem;
  width: 20rem;
  background-color: var(--sidebar);
  color: var(--sidebarText);
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.show-popup {
  animation: popupAnimation 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes popupAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.87;
  }
}

.workout-form-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* background-color: var(--sidebar); */
  background-color: rgba(0, 0, 0, 0.5);

  /* opacity: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* opacity: 0.5; */
}

.show-workout-form {
  animation: showFormAnimation 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showFormAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#workoutForm {
  /* opacity: 1; */
  border-radius: 15px;
  padding: 1rem;
  width: 30%;
  height: 65%;
  background-color: var(--sidebar);
  color: var(--sidebarText);
  display: flex;
  flex-direction: column;
  /* border: 1px solid rebeccapurple; */
}

#closeFormButton {
  margin-left: auto;
  margin-right: 0;
  height: 3rem;
  width: 3rem;
  padding: 0.3rem;
  border-radius: 10px;
}

#closeFormButton:hover {
  animation: sidebarButtonHoverAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.workout-form-row {
  width: 100%;
  /* height: 3rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.3rem;
  margin-top: 0.6rem;
}

.workout-type-option {
  width: 25%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.workout-type-option img {
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
}

#intensity img {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  padding: 0.2rem;
  border-radius: 10px;
  cursor: pointer;
}

#intensity img:hover,
.workout-type-option:hover {
  animation: sidebarButtonHoverAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

#intensityLabel {
  width: 17%;
  text-align: center;
}

.workout-form-row-header {
  /* margin-top: 2.5rem; */
  /* margin-bottom: 1rem; */
  width: 100%;
  font-size: 1.3rem;
  font-weight: 800;
  text-align: center;
}

#workout {
  height: 100vh;
}

.panel-content {
  padding: 1rem;
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.panel-row {
  height: 10rem;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  margin: 0.65rem;
  /* width: 100%; */
  background-color: var(--sidebar);
  border-radius: 15px;
}

.panel-column-title {
  width: 19%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--sidebarDark);
  /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.panel-column-description {
  width: 81%;
  display: flex;
  align-items: center;
  padding: 1rem;
  word-wrap: normal;
  /* justify-content: center; */
  /* text-align: center; */
  /* border: 1px solid yellow; */
}

.panel-column-select {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid yellow; */
}

.bold {
  font-weight: 600;
  display: contents;
}

.panel-column-description-enroll,
.panel-column-description-unenroll {
  width: calc(100% - 3rem);
  height: 10rem;
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgba(35, 38, 40, 0.95);
  border-radius: 15px;
  position: absolute;
  animation: panel-column-description-enroll-animation-reverse 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.panel-column-description-enroll:hover,
.panel-column-description-unenroll:hover {
  animation: panel-column-description-enroll-animation 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes panel-column-description-enroll-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes panel-column-description-enroll-animation-reverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#profileButton,
#signOutButton {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#signOutButton {
  width: 2.6rem;
  padding: 0.45rem;
}

#profileButton:hover,
#signOutButton:hover {
  animation: sidebarButtonHoverAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.panel-column-title img {
  height: 3rem;
}

.panel-column-description-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  width: 100%;
}

.panel-row-auto-height .panel-column-description {
  flex-direction: column;
  width: calc(100% - 8rem);
  justify-content: center;
}

.panel-colum-description-label {
  margin: 0.3rem;
  text-align: right;
  width: 12%;
  /* border: 1px solid yellow; */
}

.panel-row-auto-height {
  height: auto;
  margin: 0 0.65rem;
  border-radius: 0;
  border-bottom: 2px solid var(--sidebarDark);
}

.panel-row-auto-height:last-of-type {
  border-bottom: none;
}

.panel-row-top-border-radius {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.panel-row-auto-height .panel-column-title {
  width: 8rem;
}

.panel-row-auto-height div {
  border-radius: 0;
}

/* .panel-column-title:first-of-type {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
} */

#profileNameLabel {
  width: 100%;
  /* height: 4rem; */
}
