@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

:root {
  --sidebar: #2f3336;
  --sidebarHover: #3a3f43;
  --sidebarText: white;
  /* --panel: #3a3f43; */
  /* --panel: #cccccc; */

  /* --panel: #fbfef9; */
  /* --panel: #33a1fd; */
  --panel: #9399a3;
  --panelText: black;
}

body {
  background-color: var(--panel);
}

.container {
  clip-path: polygon(0 0, 65% 0, 26% 100%, 0% 100%, 0 0);
  width: 100%;
  /* clip-path: polygon(0 0, 100% 0, 40% 100%, 0% 100%, 0 0); */
  /* width: 65%; */
  color: white;
  background-color: var(--sidebar);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  /* border: 1px solid white; */
  margin-left: 5rem;
  display: flex;
  width: 30rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  display: none;
}

.selected-form {
  display: flex;
  animation: formSelectAnimation 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes formSelectAnimation {
  0% {
    /* display: none; */
    opacity: 0;
  }
  100% {
    /* display: flex !important; */
    opacity: 1;
  }
}

.sign-in-selector {
  display: flex;
  width: 30rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
  /* background-color: var(--sidebarHover); */
  /* border-radius: 10px; */
}

.sign-in-selector button {
  width: 50%;
  margin: 0;
}

.selectorButtonSelected {
  animation: selectButtonAnimation 0.55s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes selectButtonAnimation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--sidebarHover);
  }
}

input {
  background-color: var(--sidebar);
  border: none;
  height: 2rem;
  width: 80%;
  color: var(--sidebarText);
  margin: 0.5rem;
  border-radius: 10px;
  padding: 0 0.5rem;
}

input:focus {
  outline: none;
}

button {
  width: 80%;
  height: 2rem;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  color: var(--sidebarText);
  margin: 1rem;
  cursor: pointer;
}

.hover-animation:hover {
  animation: ButtonHoverAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ButtonHoverAnimation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--sidebarHover);
  }
}

.password-field {
  display: flex;
  /* width: 80%; */
  width: 100%;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 10px;
  /* border: 1px solid red; */
}

.password-field input {
  margin: 0;
  width: 90%;
  border-radius: 0;
  background-color: transparent;
}
.password-field img {
  width: 10%;
  margin: 0 0.3rem;
  cursor: pointer;
  padding: 0.25rem;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}

.google-button img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

#signInPasswordErrorPrompt {
  width: 60%;
  text-align: center;
  height: 0.75rem;
  font-size: 0.75rem;
  margin: 1.5rem;
  margin-top: 2rem;
}

/*--------------- New ---------------*/

.container-clip-state {
  animation: containerClipAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes containerClipAnimation {
  0% {
    clip-path: polygon(0 0, 65% 0, 26% 100%, 0% 100%, 0 0);
  }
  100% {
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0, 0 0); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    /* opacity: 0; */
  }
}

.registration-details {
  display: none;
}

.registration-details-visible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: registrationContainerAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
  background-color: var(--sidebarHover);
}

@keyframes registrationContainerAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.registration-details-container {
  opacity: 0;
  animation-fill-mode: forwards;
  background-color: var(--sidebar);
  height: 55%;
  width: 50%;
  border-radius: 15px;
  padding: 2rem;
  padding-bottom: 1.5rem;
  color: var(--sidebarText);
}

.registration-details-container-animation {
  animation: registrationContainerAnimation 0.8s ease-in-out;
  animation-delay: 0.65s;
  animation-fill-mode: forwards;
}

.step {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.step-next-previous-options {
  width: 100%;
  height: 3.5rem;
  display: flex;
  margin-top: auto;
}

.left-arrow,
.right-arrow {
  width: 3.5rem;
  height: 3.5rem;
  /* padding: 0.5rem; */
  border-radius: 10px;
  cursor: pointer;
}

.left-arrow {
  margin-right: auto;
}

.right-arrow {
  margin-left: auto;
}

.left-arrow:hover,
.right-arrow:hover {
  animation: HoverAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes HoverAnimation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--sidebarHover);
  }
}

.step h2 {
  font-size: 2rem;
  font-weight: 700;
}

.step h4 {
  font-size: 1rem;
  font-weight: 500;
}

.step-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#step1 .step-content {
  margin-top: auto;
  margin-bottom: -4rem;
}

#step1 .left-arrow {
  display: none;
}

#step2 h2,
#step3 h2,
#step5 h2 {
  width: 100%;
  text-align: center;
}

#step2 .step-content {
  flex-direction: row;
  height: 13rem;
  margin-top: 2rem;
}

#step2 .step-content-img {
  padding: 1rem;
  width: 30%;
  margin: 2rem;
  border-radius: 25px;
  cursor: pointer;
}

#step2 .step-content-img:hover {
  animation: HoverAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

#step3 .step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17rem;
}

.calender-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 70%;
  border-radius: 15px;
}

.calender-container img {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 1rem;
}
.calender-container input {
  width: calc(70%-rem);
  margin: 0;
}

.calender-container:hover {
  animation: HoverAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

#dobInput {
  background: transparent;
  z-index: 4;
}

#dobInput::-webkit-calendar-picker-indicator {
  /* FIX THIS */
  background: transparent;
  color: transparent;
  cursor: pointer;
  height: 2.7rem;
  position: absolute;
  bottom: 0;
  left: 34%;
  right: 0;
  top: 46.6%;
  width: 31.8%;
}

#step4 .step-content-img {
  height: 10rem;
  width: 10rem;
  margin: 1.5rem;
}

#weightDisplay {
  position: relative;
  top: -4rem;
  height: 1rem;
}

.weight-input {
  appearance: none;
  -webkit-appearance: none;
  width: 70%;
  height: 1rem;
  border-radius: 10px;
  background: var(--sidebarHover);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.weight-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--sidebarText);
  cursor: pointer;
}

.weight-input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--sidebarText);
  cursor: pointer;
}

#step5 .step-content img {
  height: 6rem;
  width: 6rem;
  margin: 1.5rem;
  transform: rotate(135deg);
}

#step5 .step-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 17rem;
  padding: 2rem;
}

.ruler-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.ruler-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 3rem;
}

.ruler-input-container-unit-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.height-input {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: 10px;
  background: var(--sidebarHover);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.height-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--sidebarText);
  cursor: pointer;
}

.height-input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--sidebarText);
  cursor: pointer;
}

.unit-selector {
  cursor: pointer;
  /* color: var(--textSecondary); */
  /* width: 8%; */
  margin: 0 2rem;
  position: relative;
  text-align: center;
}

.unit-selector::after {
  content: "";
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 96%;
  height: 0.07em;
  background-color: var(--sidebarText);
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.unit-selector-selected::after {
  opacity: 1;
  transform: scale(1);
}

.unit-selector:hover::after {
  opacity: 1;
  transform: scale(1);
}

#step6 .step-content {
  margin: auto 0;
}

#finishSignUpButton {
  margin-top: 5rem;
  height: 3rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sidebarHover);
  font-size: 1rem;
  font-weight: 500;
}

#finishSignUpButton:hover {
  animation: shadowAnimation 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes shadowAnimation {
  0% {
    background-color: var(--sidebarHover);
    color: var(--sidebarText);
  }
  100% {
    background-color: var(--panel);
    color: var(--panelText);
  }
}

.input-field {
  width: 90%;
  display: flex;
  flex-direction: row;
  /* border: 1px solid white; */
}

.input-field input {
  width: 100%;
  /* border: 1px solid red; */
}

.input-field img {
  cursor: pointer;
  size: 1rem;
}

.input-field #signUpLastNameInput,
.input-field #signUpFirstNameInput {
  width: 88.4%;
}
